- @projects.each do |project|
  #slideToggle.msgactive.msg
    .profile_pic
      - if params[:with] =="my_project"
        = image_tag current_user.avatar.tiny.url
      -else
        = image_tag User.find_by_id(project.user_id).avatar.tiny.url
    .time_btn
      %a{href: "#"}
        = project.created_at.strftime("%H:%M " '%d.%m.%Y')
    .content_text
      %h3
        = project.project_title
      %p
        = truncate("#{project.project_details}", :length => 70)
    .new_msgs
      %h3 2
      %a{href: "#"} New Messages
      %p
        = project.project_starts_on
      %p
        = project.project_ends_on
    .drop_arrow
      %a{href: "#"} arrow
  .info_main_box
    .info
      = project.invite_people
      %textarea{cols: "50", rows: "4"}
        = project.project_details
    .info
      = project.status
      .attch_box
        .attach
          - project.pictures.each do |picture|
            = image_tag picture.attachment.tiny.url
        .attach
          = link_to "Attach New File", new_picture_path(:project_id => params[:project_id]), :class => "file_attach"
          = hidden_field_tag :project_id, :value => "#{project.id}"
    .info
      =image_tag "chat.png"
      .chat_box
        %textarea{cols: "50", rows: "1"}
        %a{href: "#"}
          = image_tag "attachment.png"
      .clearfix