.content_area
  .content_header
    %a{href: "#"}
      Show Project Details
      = image_tag "arrow.png"
  #project_pagination
    = will_paginate(@projects, :renderer => WillPaginate::ActionView::LinkRenderer)
  .tab_bg  
  .tabs
    %ul
      %li
        %a{href: projects_path(:with=>"all_project"), :id => "all_project"} All Projects
      %li
        %a{href: projects_path(:with=>"my_project"), :id => "my_project"} My Projects
      %li
        %a{href: projects_path(:with => "upcoming_project"), :id => "upcoming_project"} Upcoming Projects
      %li
        %a{href: projects_path(:with => "completed_project"), :id => "completed_project"} Completed Projects
  .clearfix
  -if params[:with] == "upcoming_project"
    - @projects.each_with_index do |project,i|
      - if project.status == "Pending"
        .msgactive.msg{:id => "slideToggle_#{i}"}
          .profile_pic
            - if params[:with] =="my_project"
              = image_tag current_user.avatar.tiny.url
            -else
              = image_tag User.find_by_id(project.user_id).avatar.tiny.url
          .time_btn
            %a{href: "#"}
              = project.created_at.strftime("%H:%M")
          .content_text
            %h3
              = project.project_title
            %p
              = truncate("#{project.project_details}", :length => 70)
          .new_msgs
            %h3
              = project.tasks.all.size
            %a{href: "#"} Tasks
            %p
              = project.project_starts_on.strftime("%m/%d/%y")
            %p
              = project.project_ends_on.strftime("%m/%d/%y")
          .drop_arrow
            %a{href: "#"} arrow
        .info_main_box
          .info
            = project.invite_people
            %textarea{cols: "50", rows: "4"}
              = project.project_details
          .info
            = project.status
            .attch_box
              .attach
                - project.pictures.each do |picture|
                  %li{:style => "list-style:none"}
                    %i.fa.fa-download
                    = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
              .attach
                = link_to "Attach New File", new_picture_path(:project_id => project.id), :class => "file_attach1", :remote => true
                %div.file_attach
                =# hidden_field_tag :project_id, :value => "#{project.id}"
          .info
            =image_tag "chat.png"
            .chat_box
              = link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1", :remote => true
              %div.add_comment
              %a{href: "#"}
                = image_tag "attachment.png"
            .clearfix  
            .line_bar
            .comment_box
              - project.comments.each do |comment|
                %li{:style => "list-style:none"}
                  = comment.add_comment
            .clearfix
  - elsif params[:with] == "completed_project"
    - @projects.each_with_index do |project,i|
      - if project.status == "Completed"
        .msgactive.msg{:id => "slideToggle_#{i}"}
          .profile_pic
            - if params[:with] =="my_project"
              = image_tag current_user.avatar.tiny.url
            -else
              = image_tag User.find_by_id(project.user_id).avatar.tiny.url
          .time_btn
            %a{href: "#"}
              = project.created_at.strftime("%H:%M")
          .content_text
            %h3
              = project.project_title
            %p
              = truncate("#{project.project_details}", :length => 70)
          .new_msgs
            %h3
              = project.tasks.all.size
            %a{href: "#"} Tasks
            %p
              = project.project_starts_on.strftime("%m/%d/%y")
            %p
              = project.project_ends_on.strftime("%m/%d/%y")
          .drop_arrow
            %a{href: "#"} arrow
        .info_main_box
          .info
            = project.invite_people
            %textarea{cols: "50", rows: "4"}
              = project.project_details
          .info
            = project.status
            .attch_box
              .attach
                - project.pictures.each do |picture|
                  %li{:style => "list-style:none"}
                    %i.fa.fa-download
                    = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
              .attach
                = link_to "Attach New File", new_picture_path(:project_id => project.id), :class => "file_attach1", :remote => true
                %div.file_attach
                =# hidden_field_tag :project_id, :value => "#{project.id}"
          .info
            =image_tag "chat.png"
            .chat_box
              = link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1", :remote => true
              %div.add_comment
              %a{href: "#"}
                = image_tag "attachment.png"
            .clearfix  
            .line_bar
            .comment_box
              - project.comments.each do |comment|
                %li{:style => "list-style:none"}
                  =# User.find_by_id(comment.user_id).first_name
                  = comment.add_comment
                - project.pictures.each do |picture|
                  %li{:style => "list-style:none"}
                    %i.fa.fa-download
                    = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
            .clearfix
  - elsif params[:with] == "my_project"
    - @projects.each_with_index do |project,i|
      - if project.project_created_by == current_user.first_name
        .msgactive.msg{:id => "slideToggle_#{i}"}
          .profile_pic
            - if params[:with] =="my_project"
              = image_tag current_user.avatar.tiny.url
            -else
              = image_tag User.find_by_id(project.user_id).avatar.tiny.url
          .time_btn
            %a{href: "#"}
              = project.created_at.strftime("%H:%M")
          .content_text
            %h3
              = project.project_title
            %p
              = truncate("#{project.project_details}", :length => 70)
          .new_msgs
            %h3
              = project.tasks.all.size
            %a{href: "#"} Tasks
            %p
              = project.project_starts_on.strftime("%m/%d/%y")
            %p
              = project.project_ends_on.strftime("%m/%d/%y")
          .drop_arrow
            %a{href: "#"} arrow
        .info_main_box
          .info
            = project.invite_people
            %textarea{cols: "50", rows: "4"}
              = project.project_details
          .info
            = project.status
            .attch_box
              .attach
                - project.pictures.each do |picture|
                  %li{:style => "list-style:none"}
                    %i.fa.fa-download
                    = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
              .attach
                = link_to "Attach New File", new_picture_path(:project_id => project.id), :class => "file_attach1", :remote => true
                %div.file_attach
                =# hidden_field_tag :project_id, :value => "#{project.id}"
          .info
            =image_tag "chat.png"
            .chat_box
              = link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1", :remote => true
              %div.add_comment
              %a{href: "#"}
                = image_tag "attachment.png"
            .clearfix  
            .line_bar
            .comment_box
              - project.comments.each do |comment|
                %li{:style => "list-style:none"}
                  =# User.find_by_id(comment.user_id).first_name
                  = comment.add_comment
                - project.pictures.each do |picture|
                  %li{:style => "list-style:none"}
                    %i.fa.fa-download
                    = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
            .clearfix
  - else
    - @projects.each_with_index do |project,i|
      .msgactive.msg{:id => "slideToggle_#{i}"}
        .profile_pic
          - if params[:with] =="my_project"
            = image_tag current_user.avatar.tiny.url
          -else
            = image_tag User.find_by_id(project.user_id).avatar.tiny.url
        .time_btn
          %a{href: "#"}
            = project.created_at.strftime("%H:%M")
        .content_text
          %h3
            = project.project_title
          %p
            = truncate("#{project.project_details}", :length => 70)
        .new_msgs
          %h3
            = link_to (project.tasks.all.size), tasks_path
          %a{href: "#"} Tasks
          %p
            = project.project_starts_on.strftime("%m/%d/%y")
          %p
            = project.project_ends_on.strftime("%m/%d/%y")
        .drop_arrow
          %a{href: "#"} arrow
      .info_main_box
        .info
          = project.invite_people
          = image_tag "info.png"
          %textarea{cols: "50", rows: "4"}
            = project.project_details
        .info
          = project.status
          .attch_box
            .attach
              - project.pictures.each do |picture|
                %li{:style => "list-style:none;padding:5px;"}
                  %i.fa.fa-download
                  = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
                  .delete_attachment
                    = link_to image_tag("delete.jpeg"), picture, :method => :delete, :confirm => "Are you sure"
            .attach
              = link_to "Attach New File", new_picture_path(:project_id => project.id), :class => "file_attach1", :remote => true
              %div.file_attach
              =# hidden_field_tag :project_id, :value => "#{project.id}"
        .info
          =image_tag "chat.png"
          .chat_box
            = link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1 btn btn-primary", :remote => true
            %div.add_comment
          .clearfix  
          .line_bar
          .comment_box
            .user
              - project.comments.each do |comment|
                #comments_box
                  .commented_user
                    = image_tag current_user.avatar.tiny.url
                    = link_to (current_user.first_name), root_path
                    %span
                      = "#{time_ago_in_words(comment.created_at)} ago"
                  %li{:style => "list-style:none"}
                    - comment.pictures.each do |picture|
                      %i.fa.fa-download
                      = link_to "#{picture.attachment.file.filename}", picture_download_file_path(picture)
                    %p
                      = comment.add_comment
                .comment_border
          .clearfix
.content_right
  .log_time
    %a{href: "#"} + Start or Log Time
  .tracking_time
    %h5 1 Person Tracking Time
    .user_tracking
      .profile_pic
        / %img{alt: "", src: "images/profile_png.png"}/
      .user_name
        %h3 Richard Peter
        %p Create Live Projects User Interface
      .time_btn
        %a{href: "#"} 5:30
    .your_time
      %h5 Your Time
      .tracker
        %span Today
        %span.line  
        %span.time 03:23
      .tracker
        %span Yesterday
        %span.line1  
        %span.time 07:21
      .tracker
        %span This Week
        %span.line1  
        %span.time 07:21
      .tracker
        %span Last Week
        %span.line1  
        %span.time 07:21
      .tracker
        %span This Month
        %span.line1  
        %span.time 07:21
      .tracker
        %span Last Month
        %span.line1  
        %span.time 07:21
    .recent_activity
      %h5 Recent Activity
      .activity_recent
        %a{href: "#"} Thiyagu
        post new comment on Task
        %span Create Live Projects User Interface
      .activity_recent
        %a{href: "#"} Sumanth
        added a new project
        %span Mockups.me
      .activity_recent
        %a{href: "#"} Sumanth
        added a new resource
        %span Ajay
        to Project
        %span Live List
      .activity_recent
        %a{href: "#"} Thiyagu
        attached
        %span Sample Mockups.jpg
        to Project
        %span Mockups.me
      .activity_recent
        %a{href: "#"} Thiyagu
        changed his status to
        %span In progress
        for Task
        %span Create Live Projects User Interface
      %a.more{href: "#"} View More
.footer
:javascript
  $("#slideToggle_0").click(function () {
    $('.info_main_box').slideToggle(600);
  }); 
  $("#slideToggle_1").click(function () {
    $('.info_main_box1').slideToggle(600);
  });
  $(window).load(function(){
    $("[data-toggle]").click(function() {
      var toggle_el = $(this).data("toggle");
      $(toggle_el).toggleClass("open-sidebar");
    });
  });

  $(document).ready(function(){
    $("#all_project").click(function(){
      $(this).addClass("active")
    })
    $("#my_project").click(function(){
      $(this).addClass("active")
    })
    $("#upcoming_project").click(function(){
      $(this).addClass("active")
    })
    $("#completed_project").click(function(){
      $(this).addClass("active")
    })

    $(".file_attach").on('click',function(){
      $(".file_attach").val($("#project_id").html());
    })
  })