= form_for @photo, html: { multipart: true } do |f|
  %div.attach_file
    Attachment
    = f.file_field :document, :class => "file",:onchange =>"validateFiles(this);",:data => {:max_file_size => 25.megabytes}
    = image_tag "add_img.png", :class => "upload-preview"
    = hidden_field_tag :task_id, params[:task_id]
  %div
    = f.submit "save", :class => "btn btn-success submit_document"


:javascript

$(document).ready(function(){
  function validateFiles(inputFile) {
    var maxExceededMessage = "This file exceeds the maximum allowed file size (25 MB)";
    var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif .png, .doc, .docx, .pdf, .html, .htm or .odt is allowed";
    var allowedExtension = ["jpg", "jpeg", "gif", "png", "doc", "docx", "pdf", "html", "htm", "odt"];
   
    var extName;
    var maxFileSize = $(inputFile).data('max-file-size');
    var sizeExceeded = false;
    var extError = false;
   
    $.each(inputFile.files, function() {
      if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
      extName = this.name.split('.').pop();
      if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
    });
    if (sizeExceeded) {
      window.alert(maxExceededMessage);
      $(inputFile).val('');
    };
   
    if (extError) {
      window.alert(extErrorMessage);
      $(inputFile).val('');
    };
  }
});



// function readURL(input) {
//   if (input.files && input.files[0]) {//Check if input has files.
//     var reader = new FileReader(); //Initialize FileReader.
//     reader.onload = function (e) {
//       var check_ext = $(input).val();
//       if(check_ext.match(/(?:JPG|jpg|jpeg|JPEG|PNG|png|GIF|gif|TIF|tif|TIFF|tiff|BMP|bmp)$/)){
//         $(".change-img").show();
//         $(input).siblings("img").remove();
//           $(input).before('<img class ="before_img" style=" border: 2px solid gray;border-radius: 12px 12px 12px 12px;height: 117px;width: 122px;margin-top: -19px;" src ='+e.target.result+'>');
//       }else{
//         alert( 'Invalid file!' );
//         $(input).attr("value","");
//         $(input).siblings("div").remove();
//         return false;
//       }
//     };
//     reader.readAsDataURL(input.files[0]);
//   } 
// }

// $(".upload-img").click(function(){
//   $("#attachment_data").trigger("click");
// })
// $(".change-img").live("click",function(){
//   $("#attachment_data").trigger("click");
// })