.content_area
  .content_header
    %a{href: "#"}
      Show Project Details
      = image_tag "arrow.png"
  #project_pagination
    = will_paginate(@tasks, :renderer => WillPaginate::ActionView::LinkRenderer)
  .tab_bg  
  .tabs
    %ul
      %li
        %a{href: tasks_path(:with=>"all_task"), :id => "all_task"} All Task
      %li
        %a{href: tasks_path(:with=>"my_task"), :id => "my_task"} My Task
      %li
        %a{href: tasks_path(:with => "upcoming_task"), :id => "upcoming_task"} Upcoming Task
      %li
        %a{href: tasks_path(:with => "completed_task"), :id => "completed_task"} Completed Task
  .clearfix  
    -if params[:with] == "upcoming_task"
      - @tasks.each_with_index do |task,i|
        - if task.task_status == "Pending"
          .msgactive.msg{:id => "slideToggle_#{i}"}
            .profile_pic
              - if params[:with] =="task_section" || params[:with] =="all_task"
                = image_tag User.find_by_id(task.user_id).avatar.tiny.url
              -else
                = image_tag current_user.avatar.tiny.url
            .time_btn
              %a{href: "#"}
                = task.created_at.strftime("%H:%M")
            .content_text
              %h3
                = task.title
              %p
                = truncate("#{task.task_details}", :length => 70)
            .new_msgs
              = #link_to (project.tasks.all.size), tasks_path
              %p
                = task.starts_on
              %p
                = task.ends_on
            .drop_arrow
              %a{href: "#"} arrow
          .info_main_box
            .info
              =# project.invite_people
              = image_tag "info.png"
              %textarea{cols: "50", rows: "4"}
                = task.task_details
            .info
              = #task.status
              .attch_box
                .attach
                  - task.photos.each do |photo|
                    %li{:style => "list-style:none;padding:5px;"}
                      %i.fa.fa-download
                      = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                      .delete_attachment
                        = link_to image_tag("delete.jpeg"), photo, :method => :delete, :confirm => "Are you sure"
                .attach
                  = link_to "Attach New File", new_photo_path(:task_id => task.id), :class => "file_attach2", :remote => true
                  %div.task_file_attach
            .info
              = image_tag "chat.png"
              .chat_box
                = #link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1 btn btn-primary", :remote => true
                %div.add_comment
              .clearfix  
              .line_bar
              .comment_box
                .user
                  - task.task_comments.each do |comment|
                    #comments_box
                      .commented_user
                        = image_tag current_user.avatar.tiny.url
                        = link_to (current_user.first_name), root_path
                        %span
                          = "#{time_ago_in_words(comment.created_at)} ago"
                      %li{:style => "list-style:none"}
                        - comment.photos.each do |photo|
                          %i.fa.fa-download
                          = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                        %p
                          = comment.add_task_comment
                    .comment_border
              .clearfix
    - elsif params[:with] == "completed_project"
      - @tasks.each_with_index do |task,i|
        - if task.task_status == "Working"
          .msgactive.msg{:id => "slideToggle_#{i}"}
            .profile_pic
              - if params[:with] =="task_section" || params[:with] =="all_task"
                = image_tag User.find_by_id(task.user_id).avatar.tiny.url
              -else
                = image_tag current_user.avatar.tiny.url
            .time_btn
              %a{href: "#"}
                = task.created_at.strftime("%H:%M")
            .content_text
              %h3
                = task.title
              %p
                = truncate("#{task.task_details}", :length => 70)
            .new_msgs
              = #link_to (project.tasks.all.size), tasks_path
              %p
                = task.starts_on
              %p
                = task.ends_on
            .drop_arrow
              %a{href: "#"} arrow
          .info_main_box
            .info
              =# project.invite_people
              = image_tag "info.png"
              %textarea{cols: "50", rows: "4"}
                = task.task_details
            .info
              = #task.status
              .attch_box
                .attach
                  - task.photos.each do |photo|
                    %li{:style => "list-style:none;padding:5px;"}
                      %i.fa.fa-download
                      = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                      .delete_attachment
                        = link_to image_tag("delete.jpeg"), photo, :method => :delete, :confirm => "Are you sure"
                .attach
                  = link_to "Attach New File", new_photo_path(:task_id => task.id), :class => "file_attach2", :remote => true
                  %div.task_file_attach
            .info
              = image_tag "chat.png"
              .chat_box
                = #link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1 btn btn-primary", :remote => true
                %div.add_comment
              .clearfix  
              .line_bar
              .comment_box
                .user
                  - task.task_comments.each do |comment|
                    #comments_box
                      .commented_user
                        = image_tag current_user.avatar.tiny.url
                        = link_to (current_user.first_name), root_path
                        %span
                          = "#{time_ago_in_words(comment.created_at)} ago"
                      %li{:style => "list-style:none"}
                        - comment.photos.each do |photo|
                          %i.fa.fa-download
                          = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                        %p
                          = comment.add_task_comment
                    .comment_border
              .clearfix
    - elsif params[:with] == "my_task"
      - @tasks.each_with_index do |task,i|
        - if task.task_created_by == current_user.first_name
          .msgactive.msg{:id => "slideToggle_#{i}"}
            .profile_pic
              - if params[:with] =="task_section" || params[:with] =="all_task"
                = image_tag User.find_by_id(task.user_id).avatar.tiny.url
              -else
                = image_tag current_user.avatar.tiny.url
            .time_btn
              %a{href: "#"}
                = task.created_at.strftime("%H:%M")
            .content_text
              %h3
                = task.title
              %p
                = truncate("#{task.task_details}", :length => 70)
            .new_msgs
              = #link_to (project.tasks.all.size), tasks_path
              %p
                = task.starts_on
              %p
                = task.ends_on
            .drop_arrow
              %a{href: "#"} arrow
          .info_main_box
            .info
              =# project.invite_people
              = image_tag "info.png"
              %textarea{cols: "50", rows: "4"}
                = task.task_details
            .info
              = #task.status
              .attch_box
                .attach
                  - task.photos.each do |photo|
                    %li{:style => "list-style:none;padding:5px;"}
                      %i.fa.fa-download
                      = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                      .delete_attachment
                        = link_to image_tag("delete.jpeg"), photo, :method => :delete, :confirm => "Are you sure"
                .attach
                  = link_to "Attach New File", new_photo_path(:task_id => task.id), :class => "file_attach2", :remote => true
                  %div.task_file_attach
            .info
              = image_tag "chat.png"
              .chat_box
                = #link_to "Add Comment", new_comment_path(:project_id => project.id), :class => "add_comment1 btn btn-primary", :remote => true
                %div.add_comment
              .clearfix  
              .line_bar
              .comment_box
                .user
                  - task.task_comments.each do |comment|
                    #comments_box
                      .commented_user
                        = image_tag current_user.avatar.tiny.url
                        = link_to (current_user.first_name), root_path
                        %span
                          = "#{time_ago_in_words(comment.created_at)} ago"
                      %li{:style => "list-style:none"}
                        - comment.photos.each do |photo|
                          %i.fa.fa-download
                          = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                        %p
                          = comment.add_task_comment
                    .comment_border
              .clearfix
    - else
      - @tasks.each_with_index do |task,i|
        .msgactive.msg{:id => "slideToggle_#{i}"}
          .profile_pic
            - if params[:with] =="task_section" || params[:with] =="all_task"
              = image_tag User.find_by_id(task.user_id).avatar.tiny.url
            -else
              = image_tag current_user.avatar.tiny.url
          .time_btn
            %a{href: "#"}
              = task.created_at.strftime("%H:%M")
          .content_text
            %h3
              = task.title
            %p
              = truncate("#{task.task_details}", :length => 70)
          .new_msgs
            = #link_to (project.tasks.all.size), tasks_path
            %p
              = task.starts_on
            %p
              = task.ends_on
          .drop_arrow
            %a{href: "#"} arrow
        .info_main_box
          .info
            =# project.invite_people
            = image_tag "info.png"
            %textarea{cols: "50", rows: "4"}
              = task.task_details
          .info
            = #task.status
            .attch_box
              .attach
                - task.photos.each do |photo|
                  %li{:style => "list-style:none;padding:5px;"}
                    %i.fa.fa-download
                    = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                    .delete_attachment
                      = link_to image_tag("delete.jpeg"), photo, :method => :delete, :confirm => "Are you sure"
              .attach
                = link_to "Attach New File", new_photo_path(:task_id => task.id), :class => "file_attach2", :remote => true
                %div.task_file_attach
          .info
            = image_tag "chat.png"
            .chat_box
              = link_to "Add Comment", new_task_comment_path(:task_id => task.id), :class => "add_comment1 btn btn-primary", :remote => true
              %div.add_task_comment
            .clearfix  
            .line_bar
            .comment_box
              .user
                - task.task_comments.each do |comment|
                  #comments_box
                    .commented_user
                      = image_tag current_user.avatar.tiny.url
                      = link_to (current_user.first_name), root_path
                      %span
                        = "#{time_ago_in_words(comment.created_at)} ago"
                    %li{:style => "list-style:none"}
                      - comment.photos.each do |photo|
                        %i.fa.fa-download
                        = link_to "#{photo.document.file.filename}", photo_download_task_file_path(photo)
                      %p
                        = comment.add_task_comment
                  .comment_border
            .clearfix
.content_right
  .log_time
    %a{href: "#"} + Start or Log Time
  .tracking_time
    %h5 1 Person Tracking Time
    .user_tracking
      .profile_pic
        / %img{alt: "", src: "images/profile_png.png"}/
      .user_name
        %h3 Richard Peter
        %p Create Live Projects User Interface
      .time_btn
        %a{href: "#"} 5:30
    .your_time
      %h5 Your Time
      .tracker
        %span Today
        %span.line  
        %span.time 03:23
      .tracker
        %span Yesterday
        %span.line1  
        %span.time 07:21
      .tracker
        %span This Week
        %span.line1  
        %span.time 07:21
      .tracker
        %span Last Week
        %span.line1  
        %span.time 07:21
      .tracker
        %span This Month
        %span.line1  
        %span.time 07:21
      .tracker
        %span Last Month
        %span.line1  
        %span.time 07:21
    .recent_activity
      %h5 Recent Activity
      .activity_recent
        %a{href: "#"} Thiyagu
        post new comment on Task
        %span Create Live Projects User Interface
      .activity_recent
        %a{href: "#"} Sumanth
        added a new project
        %span Mockups.me
      .activity_recent
        %a{href: "#"} Sumanth
        added a new resource
        %span Ajay
        to Project
        %span Live List
      .activity_recent
        %a{href: "#"} Thiyagu
        attached
        %span Sample Mockups.jpg
        to Project
        %span Mockups.me
      .activity_recent
        %a{href: "#"} Thiyagu
        changed his status to
        %span In progress
        for Task
        %span Create Live Projects User Interface
      %a.more{href: "#"} View More
.footer
:javascript
  $(document).ready(function(){
    $("#slideToggle_0").click(function () {
  			$('.info_main_box').slideToggle(600);
  	}); 
  	$("#slideToggle_1").click(function () {
  		$('.info_main_box1').slideToggle(600);
  	});
    $(window).load(function(){
      $("[data-toggle]").click(function() {
        var toggle_el = $(this).data("toggle");
        $(toggle_el).toggleClass("open-sidebar");
      });
    });
    // Adding actibe class on click task links //
    $("#all_task").click(function(){
      $(this).addClass("active")
    })
    $("#my_task").click(function(){
      $(this).addClass("active")
    })
    $("#upcoming_task").click(function(){
      $(this).addClass("active")
    })
    $("#completed_task").click(function(){
      $(this).addClass("active")
    })

    $(".file_attach").on('click',function(){
      $(".file_attach").val($("#project_id").html());
    })
  })